.boto_eliminar{
	background-color:#FFF;
	color:#C00;
	font-size:11px;
}
form{
	margin:0px;
}
h2{
	border-bottom: none;
	margin-top: 15px;
}
/*-------------------------Entra i sortida del fitxatge*/
.quadre_ent_sort{
	border:1px dotted #F90;
	padding:5px;
	margin-bottom:30px;
	width:300px;
	background-color:#FFEBE1;
	
}
.lletra_ent_sort{
	color:#F90;
	font-size:11px;
}
.titol_ent_sort{
	background-color:#F90;
	padding:0px;
	margin-bottom:0px;
	margin-top:20px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	width:300px;
	padding-right:10px;
}
.boto_ent_sort{
	color:#F90;
	padding:0px;
	margin:0px;
	background-color:#FFEBE1;
	font-weight:bold;
	font-size:12px;
	width:230px;

}

/*-------------------------Descans*/
.quadre_descans{
	border:1px dotted #063;
	padding:5px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	background-color:#ECFFEC;
	
}
.lletra_descans{
	color:#063;
	font-size:11px;
}
.titol_descans{
	background-color:#063;
	padding:0px;
	margin:0px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
}
.boto_descans{
	color:#063;
	padding:0px;
	margin:0px;
	background-color:#ECFFEC;
	font-weight:bold;
	font-size:12px;
	width:130px;
	margin-left:20px;
}
/*-------------------------Exterior*/
.quadre_exterior{
	border:1px dotted #330066;
	padding:5px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	background-color:#E4E4F1;
	
}
.lletra_exterior{
	color:#330066;
	font-size:11px;
}
.titol_exterior{
	background-color:#330066;
	padding:0px;
	margin:0px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
}
.boto_exterior{
	color:#330066;
	padding:0px;
	margin:0px;
	background-color:#E4E4F1;
	font-weight:bold;
	font-size:12px;
	width:170px;
	margin-left:20px;
}


/*------------------------Comite*/
.quadre_comite{
	border:1px dotted #039;
	padding:5px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	background-color:#E4E4F1;
	
}
.lletra_comite{
	color:#039;
	font-size:11px;
}
.titol_comite{
	background-color:#039;
	padding:0px;
	margin:0px;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
	margin-left:20px;
	margin-right:20px;
	margin-top:10px;
}
.boto_comite{
	color:#039;
	padding:0px;
	margin:0px;
	background-color:#EAEAFF;
	font-weight:bold;
	font-size:12px;
	width:170px;
	margin-left:20px;
}


