/* CSS Document */
body{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	margin:10px auto;
	width:1024px;
}
#contingut_body{
	border:#000 1px solid;
	background-color:#FFF;
}
table,select,textarea,input{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
}
a:link,a:visited{
	color:#666;
}
a:hover{
	color:#ACC414;
}
form{
	margin-top:10px; margin-bottom:10px;}
.LletraPeke{
	font-size:10px;
	color:#666;
}
.lletra_vermella{
	color:#900;
	font-weight:bold;
}
textarea{
	width:600px;
}
.taula{
	margin-top:0px;
	border:#000 solid 1px;
	border-collapse:collapse;
	border-spacing:5px;
}
.barra_superior{
	background-color:#AEC50E;
	margin:0;
	text-align: right;
	height:30px;
}
.boto_tancar_sessio{
	background-color:#F3F3F3;
	border-bottom:#CF0101 1px solid;
	
	background-image: url(imatges/cerrar_sesion.gif);
	background-repeat:no-repeat;
	background-position: left top;
	text-indent: 15px;
	color:#CF0101;
	cursor:pointer;
	margin-right:15px;
}
.boto_usuari{
	background-color:#F3F3F3;
	border-bottom:#666 1px solid;
	background-image: url(imatges/usuario.gif);
	background-repeat:no-repeat;
	background-position: left top;
	text-indent: 20px;
	color:#666;
	cursor:pointer;
	margin-right:15px;
}
.boto_psw{
	background-color:#F3F3F3;
	border-bottom:#666 1px solid;
	background-image: url(imatges/contrasenya.gif);
	background-repeat:no-repeat;
	background-position: left top;
	text-indent: 20px;
	color:#666;
	cursor:pointer;
	margin-right:15px;
	margin-left:20px;

}

.vora_verda{
	border-right:#ACC414 1px solid;
}
.tr{
	border-bottom:#666 1px solid;
}
h1{
	background-color:#000;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	padding-left:10px;
	margin:0;
}
a.peu:link ,a.peu:visited{
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	display:block;
	background-color:#000;
	text-align:right;
}

a.peu:hover {
	font-weight: bold;
	color:#ACC414;
	text-decoration: none;
}
.dreta{
	float:right;
	padding-right:5px;
}
.esk{
	float:left;
}
h3{
	margin-bottom:0px;
	padding-top:20px;
	color:#333;
	font-size:16px;
}
h2{
	color:#ACC414;
	font-size:16px;
	margin-bottom:20px;
	border-bottom:#333 1px solid;
	
}
.vora_groga2{
	border-left:#FFF201 2px solid;
	border-bottom:#FFF201 2px solid;
	border-right:#FFF201 2px solid;
	margin-left:20px;
	margin-top:0;
	padding:0px;
	font-size:12px;
	margin-bottom:20px;
	margin-right:20px;
	
}
.vora_groga{
	border:#FFF201 2px solid;
	margin-left:20px;
	margin-top:0;
	padding:10px;
	font-size:12px;
	margin-bottom:20px;
	margin-right:20px;	
}
#dins{
	margin:15px;
	
}

.selec{
	background-color:#FFF201;
	background-position: left top;
	margin-top:0px;
	padding:5px;
	color:#666;
	font-weight:bold;
	margin-bottom:15px;
	text-align:center;
}
.selec_desp{
	color:#FFF201;
	font-size:14px;
	background-color:#666;
}
.cont{
	margin:10px;
}
.lletraGrisa{
	color:#666;
	font-size:12px;
}
.lletra_negreta{
	font-weight:bold;
}	
.boto_guardar{
	background-color:#333;
	color:#ACC414;
	background-image:url(imatges/guardar.jpg);
	background-position:1px 1px;
	background-repeat:no-repeat;
	text-indent: 14px;
	font-size:14px;
	margin-top:10px;
}
.boto_eliminar{
	background-color:#E40518;
	color:#FFFFFF;
	background-image:url(imatges/eliminar.png);
	background-position:top left;
	background-repeat:no-repeat;
	text-indent: 14px;
	font-size:14px;
	margin-top:10px;
}
.boto_eliminar_peke{
	background-color:#CCC;
	color:#E40518;
	background-image:url(imatges/eliminar.png);
	background-position:top left;
	background-repeat:no-repeat;
	text-indent: 14px;
	font-size:12px;
}

.boto_enviar{
	background-color:#FFF;
	color:#009900;
	background-image:url(imatges/enviar.png);
	background-position:top left;
	background-repeat:no-repeat;
	text-indent: 14px;
	font-size:12px;
}
.boto_imprimir{
	background-color:#FFF;
	color:#009900;
	background-image:url(imatges/imprimir.png);
	background-position:top left;
	background-repeat:no-repeat;
	text-indent: 14px;
	padding-left:15px;
	font-size:13px;
	height: 30px;
}
.boto_excel{
	background-color:#FFF;
	color:#009900;
	background-image:url(imatges/excel.gif);
	background-position:top left;
	background-repeat:no-repeat;
	text-indent: 14px;
	padding-left:15px;
	font-size:13px;
}


.lletraPeke{
	font-size:10px;
	font-style: italic;
}
.ok{
	background-image:url(imatges/ok.gif);
	background-repeat:no-repeat;
	width:80px;
	height:80px;
}
.error{
	background-image:url(imatges/error.jpg);
		background-repeat:no-repeat;
	width:80px;
	height:80px;
}
.msn_error{
	background-image:url(imatges/dialeg.jpg);
	color:#900;
	background-repeat:no-repeat;
	background-position:top left;
	width:280px;
	height:220px;
	padding-top:50px;
	padding-left:60px;
	font-weight:bold;
}
.sobre{
	font-weight:bold;
	background-color:#999;
	color:#FFF;
}
.menu_selec{
	margin-bottom:20px;
	border:#ACC414 1px solid;
	font-size:14px;
	font-weight:bold;
}
th{
	background-color:#666;
	color:#FFF;
	font-weight:bold;
}
.linea{
	border-top:#666 1px dashed;
	padding-bottom:10px;
	padding-top:10px;
}
.text_proteccio{
	font-size:11px;
	font-style:italic;
}
#formulari label{
	float:left;
	clear:both;
	color:#666;
	margin-bottom:5px;
	margin-right:5px;
}
#formulari input{
	float:left;
	margin-bottom:5px;
}
#formulari select{
	float:left;
	margin-bottom:5px;
}
#formulari input[type=submit]{
	clear:both;
}
.entitat_fora{
	color:#33C;
}
.boto_menu2{
	background-color:#FFF;
	color:#666;
	font-weight:bold;
}
.visual_no{ display:none;}
.visual_si{ display:block;}
.extensio_xls{
	background-image:url(imatges/extensio_xls.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}
.extensio_doc{
	background-image:url(imatges/extensio_doc.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}
.extensio_pdf{
	background-image:url(imatges/extensio_pdf.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}
.portada{
	background-image:url(imatges/portada.gif);
	background-repeat:no-repeat;
	text-indent:20px;
}
.invisible{
	background-image:url(imatges/invisible.gif);
	background-repeat:no-repeat;
	text-indent:20px;
}.titol_pag {
	color:#F5BF56;
	text-align:center;
	font-size: 18px;
	font-weight: bold;
}
.botons_menuSup{
	background-color:#62B454;
	font-weight:bold;
	font-size:14px;
	color:#FFF;
	width:142px;
	height:30px;
}

fieldset{
	clear:both;
	margin:20px;
	padding-left:10px;
	padding-right:10px;
	padding-top:20px;
	padding-bottom:20px;
	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
legend{
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.fiel{
	background-color:#EAEAEA;
}
.leg{
	color:#666;
	font-size:14px;
}
.info_avis{
	color:#006;
	background-image:url(imatges/icona_internet.gif);
	background-repeat:no-repeat;
	background-position:left top;
	text-indent:20px;
	float:right;
}
.boto_menu_llic{
	background-color:#F8F8F8;
	width:200px;
	font-weight:bold;
	height:50px;
}
.neteja{ clear:both;}
.taula{
	margin-top:0px;
	border:#000 solid 1px;
	border-collapse:collapse;
	border-spacing:5px;
	background-color:#FFF;
}
caption{
	background-color:#333;
	color:#FFF;
	padding:5px;
}
.boto_verd{
	background-color:#ACC414;
	font-size:14px;
	font-weight:bold;
}
.estat_entitat_0{
	background-color:orange;
	color: #FFF;
}
.estat_entitat_1{
	background-color:green;
	color: #FFF;
}
.estat_entitat_2{
	background-color:red;
	color: #FFF;
}
.fiel_paga{
	float: left;
	width: 45%;
	height: 150px;
	margin:5px;
	padding:10px;

	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.legend_paga{
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.boto_pagament{
	background-color:#ACC414;
	font-size:16px;
	font-weight:bold;
	padding: 10px;
}
.lletra_verd{
	color:#ACC414;
	font-size:14px;
	font-weight:bold;
}


.carnets{
	clear: both;

	height: 206px;
}
.fons_carnet1{
	background-image: url("imatges/fons_carnet1.jpg");
	background-size: 318px ;
	width: 318px;
	float: left;
	padding-top: 60px;
	height: 146px;
	border-left:  1px dotted #000000;
	border-bottom: 1px dotted #000000;
}
.fons_carnet2{
	background-image: url("imatges/fons_carnet2.jpg");
	background-size: 318px ;
	width: 318px;
	height: 206px;
	float: left;
	border-right:  1px dotted #000000;
	border-bottom: 1px dotted #000000;
}
.fons_carnet1 label{
	color: #666666;
	float: left;
	font-weight: bold;
	width: 65px;
	font-size: 10px;
	clear: both;
	padding-top: 10px;
}
.fons_carnet1 .text{
	float: left;
	padding-top: 10px;
	width: 150px;
	font-size: 10px;
}
.fons_carnet1 img{
	float: left;
	padding-right: 10px;
	padding-top: 10px;
	padding-left: 10px;

}