BODY {
	SCROLLBAR-FACE-COLOR: #235B34;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR:#B2E5BB;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #660000;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #ACC414;
	border-left-color: #ACC414;
	width:990px;
}
.selvacat{
	background-color:#ACC414;
	font-size:14px;
	color:#FFF;
	border-top-width: 1px;
	border-top-style:ridge;
	border-top-color: #999;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color: #999;
	padding-left:10px;
}
.peu_pag{
	margin:0;
	background-image:url(/laboral/imatges/peu_pag.gif);
	background-position:bottom;
	background-repeat:no-repeat;
	height:88px;
	width:100%;
	background-color:#CCC;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}


/*----------------------------------Menu negre de dades personals ------------*/

.menu_gestio{
	margin:0;
	padding:;
	float:right;
}
.boto_menu_gestio{
	float:left;
		background-color: #000000;
	FONT-SIZE:12px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	height:25px;
	width:160px;
}
.tancar_sessio{
	BACKGROUND-COLOR:#660033;
	FONT-SIZE: 12px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	float:right;
	TEXT-DECORATION: none;
	width:125px;
	height:25px;
}

/*----------------------Dins*/

.col_esk{
	float:left;
	padding-left:10px;
	padding-right:10px;
	background-color:#CCC;
}

.botomenu1{
	BACKGROUND-COLOR: #ACC414;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #FFFFFF;
	width: 190px;
	margin-left:3px;
	margin-bottom:3px;
	clear:left;
	float:left;
}

.botomenu2{
	BACKGROUND-COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #ACC414;
	width: 180px;
	float:left;
	clear:left;
	margin-left:3px;
	margin-bottom:3px;
}
.boto_enviarsol{
	BACKGROUND-COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #ACC414;
	margin-left:60px;
	margin-top:10px;
	padding:0px;
}


h1{
	color:#FFF;
	font-size:14px;
	background-repeat:no-repeat;
	background-position:top left;
	margin-bottom:0;
	margin-top:50px;
	margin-left:0;
	margin-right:0;
	padding:3px;
	text-align: center;
}
.quadre_cont_sensemarge{
	border:1px solid;
	margin:0;
	padding:0px;
	background-color:#FFF;
}
.quadre_cont_ambmarge{
	border:1px solid;
	background-color:#FFF;
	margin:0;
	padding:15px;
}
.gris_quadre{
	border:#666;
}
.verd_quadre{
	border:#ACC414;
}
.negre_quadre{
	border:#000;
}
.verd_h1{
	background-color:#ACC414;
	background-image:url(/laboral/imatges/verd_dalt_esk.gif);
}

.negre_h1{
	background-color:#000;
	background-image:url(/laboral/imatges/negra_dalt_esk.gif);
}

.gris_h1{
	background-color:#666;
	background-image:url(/laboral/imatges/gris_dalt_esk.gif);
}
.espai_quadre{
	margin-left:15px;
	margin-right:10px;
	margin-top:0:
}

/*----------------------------------------*/


.fonsverd {
	BACKGROUND-COLOR: #ACC414;
}
.fonsBlauClar {
	BACKGROUND-COLOR: #e2e9f0;
}

.lletraNorm{
	FONT-SIZE: 12px; 
	COLOR:#000000;
	
}
.lletraNegreta{
	FONT-SIZE: 12px; 
	COLOR:#000000;
	font-weight:bold;
	
}
.lletra80{
	FONT-SIZE: 80%; 
	COLOR:#000000;
}
.lletraPeke{
	FONT-SIZE: 10px; 
	text-align:center;
}
.lletraVerda70 {
	FONT-SIZE: 70%;
	COLOR: #ACC414;
	
	font-weight: bold;
}

.lletraGrisa{
	PADDING-LEFT: 5px; 
	FONT-SIZE: 12px;
	COLOR: #666666; 
}

.lletraSubtituls{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 70%;
	COLOR: #666666; 
}
A.MenuSuperior:visited{
	 FONT-SIZE: 70%;
	 COLOR: #000000;
	  
}
A.MenuSuperior:link{
	 FONT-SIZE: 70%; 
	 COLOR: #000000;
	  
}
A.MenuSuperior:hover {
	COLOR:#999999;
	TEXT-DECORATION: underline overline;
}
.botoVerdSenseamplada {
	FONT-SIZE: 75%;
	COLOR:#FFFFFF;
	background-color:  #ACC414; 
	font-weight: bold;

}
.lletraVerda {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 80%; 
	TEXT-TRANSFORM: none; 
	COLOR: #ACC414; 
	  
	TEXT-DECORATION: none
}

.punt_hori {
	height: 1px;
	background-image: url(imatges/puntsHori.gif);
	background-repeat:  repeat-x;
}
.punt_vert{
	height: 1px;
	background-image: url(imatges/puntsVert.gif);
	background-repeat:  repeat-y;
}

.lletraBlanca55 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 55%;
	color: #FFFFFF;
}
.lletraBlanca85 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 85%;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}

.lletraBlanca65 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 65%;
	font-weight: bold;
	color: #FFFFFF;
}
.lletraBlanca75 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 75%;
	font-weight: bold;
	color: #FFFFFF;
}


.botoverd{
	BACKGROUND-COLOR: #ACC414;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width: 100%;
}
h3{
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-TRANSFORM: none;
	COLOR:#ACC414;
	margin:0;
	float:left;
	background-color:#FFF;
	padding:5px 20px 5px 10px;
	background-image:url(/laboral/imatges/esk_fons.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.sota_h3{
	background-color:#BCBCBC;
	margin:0;
	padding:0;
	widows:100%;
}
h4{
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	COLOR:#ACC414;
	width: 100%;
	padding:0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #Acc414;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.botogrisverd{
	BACKGROUND-COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #ACC414;
	TEXT-DECORATION: none;
	width: 100%;
}
.botovermell{
	BACKGROUND-COLOR: #990000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;	 
	TEXT-DECORATION: none;
	width: 100%;
}
.botovermell_senseamplada{
	BACKGROUND-COLOR: #990000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 75%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
.botogranate{
	BACKGROUND-COLOR:#660033;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	 
	TEXT-DECORATION: none;
	width: 100%;
}
.boto_blau {
	background-color: #00A7DB;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width:100%;
	
}
.boto_blau_senseamplada {
	background-color: #00A7DB;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
.boto_morat {
	background-color: #8B74B9;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	 
	TEXT-DECORATION: none;
	width: 100%;	
	
	
}

.boto_negre {
	background-color: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 80%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width: 100%;
}
.boto_menu_negre {
	background-color: #000000;
	FONT-SIZE: 70%;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width: 100%;
	height:25px;
}

.lletraError{
	color:#990000;
	FONT-SIZE: 70%; 
}

.lletraErrorverd{
	color:#13570A;
	FONT-SIZE: 70%; 	 
}

.fonsvermell {
	background-color: #FF9999;
}
.esk{
	float:left;
}

.dreta{
	float:right;
}

.llargada_fitxatge{
	height:300px;
}
.botogris {
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 80%;
	font-weight: bold;
	color: #666666;
	width: 100%;
}
.boto_menusol2{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 80%;
	font-weight: bold;
	color: #666666;
	float:left;
	padding:0;
	margin-left:2px;
}
.boto_menusol3{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 80%;
	font-weight: bold;
	color: #666666;
	float:left;
	padding:0;
	width:200px;
	margin:2px;
}

.botogris2 {
	background-color: #BCBCBC;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 80%;
	font-weight: bold;
	color: #000;
	margin:2px;
	width:180px;
}
.fonsmenu2{
	background-color:#BCBCBC;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:10px;
}
.botomenu3 {
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	width: 150px;
}
.fonspag3{
	padding:20px;
}
.boto_material{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	width: 120px;
	height:20px;
	vertical-align: top;
}
.botodies{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 70%;
	font-weight: bold;
	color: #666666;
	width: 100%;
}

.boto_reservat {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 55%;
	color: #FFFFFF;
	background-color:#990000;
	font-weight: bold;
	width: 100%;
}
.boto_reservat_mi{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 55%;
	color: #FFFFFF;
	background-color:#666666;
	font-weight: bold;
	width: 100%;
}
.casella_llistat{
	FONT-SIZE: 70%;
	COLOR: #000000;
	font-weight:bold;
	
	BACKGROUND-COLOR: #E6E6E6;
	border: 0px none;
}

.espai_taula{
	border-collapse:collapse;
	
	
}
.vora_taula{
	border:#666 thin ridge;
	padding:5px;
}
.sense_espai_sota{
	margin-bottom:0;
}
.espai_llita{
	padding-bottom:5px;
}
h2{
	font-size:16px;
	color:#666;
	border-bottom:#666 solid 1px;
}
h5{
	font-size:14px;
	color:#666;
	border-bottom:#666 solid 1px;
}

.boto_calendari{
	font-size:12px;
	background-color:#FFF;
	width:100%;
}
.boto_calendari_gran{
	font-size:12px;
	background-color:#FFF;
	width:100%;
	font-weight:bold;
}
.boto_calendari_selec{
	font-size:12px;
	color:#FFF;
	background-color:#000000;
	width:100%;
}
.boto_menu3{
	background-color:#999999;
	color:#FFFFFF;
	font-size:12px;
	width:100%;
	font-weight:bold;
}
.msn{
	background-image:url(/laboral/imatges/missatge.jpg);
	background-repeat:no-repeat;
	width:290px;
	height:220px;
	font-size:14px;
	padding-left:55px;
	padding-top:50px;
	font-weight:bold;
}
.msn_correcte{
	color:#096;
}
.msn_incorrecte{
	color:#900;
}