
.concepte_1{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FF0000;
}
.lletra_concepte_1{
	font-family:Helvetica, Arial, sans-serif;
	color:#FF0000;
	font-size: 80%;
	font-weight: bold;
}

.concepte_147{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#966;
}
.lletra_concepte_147{
	font-family:Helvetica, Arial, sans-serif;
	color:#966;
	font-size: 80%;
	font-weight: bold;
}

.concepte_123{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#CC0066;
}
.lletra_concepte_123{
	font-family:Helvetica, Arial, sans-serif;
	color:#CC0066;
	font-size: 80%;
	font-weight: bold;
}

.concepte_135{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#660066;
}
.lletra_concepte_135{
	font-family:Helvetica, Arial, sans-serif;
	color:#660066;
	font-size: 80%;
	font-weight: bold;
}
.concepte_3{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666600;
}
.lletra_concepte_3{
	font-family:Helvetica, Arial, sans-serif;
	color:#666600;
	font-size: 80%;
	font-weight: bold;
}
.concepte_5{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#006600;
}
.lletra_concepte_5{
	font-family:Helvetica, Arial, sans-serif;
	color:#006600;
	font-size: 80%;
	font-weight: bold;
}
.concepte_6{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#330066;
}
.lletra_concepte_6{
	font-family:Helvetica, Arial, sans-serif;
	color:#330066;
	font-size: 80%;
	font-weight: bold;
}
.concepte_7{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FF9900;
}
.lletra_concepte_7{
	font-family:Helvetica, Arial, sans-serif;
	color:#FF9900;
	font-size: 80%;
	font-weight: bold;
}
.concepte_8{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#663300;
}
.lletra_concepte_8{
	font-family:Helvetica, Arial, sans-serif;
	color:#663300;
	font-size: 80%;
	font-weight: bold;
}
.concepte_9{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#6699CC;
}
.lletra_concepte_9{
	font-family:Helvetica, Arial, sans-serif;
	color:#6699CC;
	font-size: 80%;
	font-weight: bold;
}
.concepte_10{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#003366;
}
.lletra_concepte_10{
	font-family:Helvetica, Arial, sans-serif;
	color:#003366;
	font-size: 80%;
	font-weight: bold;
}
.concepte_130{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#003366;
}
.lletra_concepte_130{
	font-family:Helvetica, Arial, sans-serif;
	color:#003366;
	font-size: 80%;
	font-weight: bold;
}
.concepte_11{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FF9933;
}
.lletra_concepte_11{
	font-family:Helvetica, Arial, sans-serif;
	color:#FF9933;
	font-size: 80%;
	font-weight: bold;
}
.concepte_12{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#999999;
}
.lletra_concepte_12{
	font-family:Helvetica, Arial, sans-serif;
	color:#999999;
	font-size: 80%;
	font-weight: bold;
}
.concepte_2{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666666;
}
.lletra_concepte_2{
	font-family:Helvetica, Arial, sans-serif;
	color:#666666;
	font-size: 80%;
	font-weight: bold;
}
.concepte_4{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666666;
}
.lletra_concepte_4{
	font-family:Helvetica, Arial, sans-serif;
	color:#666666;
	font-size: 80%;
	font-weight: bold;
}


.concepte_13{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#009999;
}
.lletra_concepte_13{
	font-family:Helvetica, Arial, sans-serif;
	color:#009999;
	font-size: 80%;
	font-weight: bold;
}
.concepte_14{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666699;
}
.lletra_concepte_14{
	font-family:Helvetica, Arial, sans-serif;
	color:#333366;
	font-size: 80%;
	font-weight: bold;
}
.concepte_136{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666699;
}
.lletra_concepte_136{
	font-family:Helvetica, Arial, sans-serif;
	color:#333366;
	font-size: 80%;
	font-weight: bold;
}

.concepte_129{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666699;
}
.lletra_concepte_129{
	font-family:Helvetica, Arial, sans-serif;
	color:#333366;
	font-size: 80%;
	font-weight: bold;
}

.concepte_15{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#006699;
}
.lletra_concepte_15{
	font-family:Helvetica, Arial, sans-serif;
	color:#006699;
	font-size: 80%;
	font-weight: bold;
}
.concepte_16{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#CCCC00;
}
.lletra_concepte_16{
	font-family:Helvetica, Arial, sans-serif;
	color:#CCCC00;
	font-size: 80%;
	font-weight: bold;
}

.concepte_17{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#990000;
}
.lletra_concepte_17{
	font-family:Helvetica, Arial, sans-serif;
	color:#990000;
	font-size: 80%;
	font-weight: bold;
}
.concepte_18{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#CC0066;
}
.lletra_concepte_18{
	font-family:Helvetica, Arial, sans-serif;
	color:#CC0066;
	font-size: 80%;
	font-weight: bold;
}
.concepte_19{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#669900;
}
.lletra_concepte_19{
	font-family:Helvetica, Arial, sans-serif;
	color:#669900;
	font-size: 80%;
	font-weight: bold;
}


.concepte_101{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#990099;
}
.lletra_concepte_101{
	font-family:Helvetica, Arial, sans-serif;
	color:#990099;
	font-size: 80%;
	font-weight: bold;
}
.concepte_137{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#9900FF;
}
.lletra_concepte_137{
	font-family:Helvetica, Arial, sans-serif;
	color:#9900FF;
	font-size: 80%;
	font-weight: bold;
}

.concepte_102{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#6699CC;
}
.lletra_concepte_102{
	font-family:Helvetica, Arial, sans-serif;
	color:#6699CC;
	font-size: 80%;
	font-weight: bold;
}
.concepte_103{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#663399;
}
.lletra_concepte_103{
	font-family:Helvetica, Arial, sans-serif;
	color:#663399;
	font-size: 80%;
	font-weight: bold;
}

.concepte_104{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#66CCCC;
}
.lletra_concepte_104{
	font-family:Helvetica, Arial, sans-serif;
	color:#66CCCC;
	font-size: 80%;
	font-weight: bold;
}
.concepte_105{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#0033CC;
}
.lletra_concepte_105{
	font-family:Helvetica, Arial, sans-serif;
	color:#0033CC;
	font-size: 80%;
	font-weight: bold;
}
.concepte_106{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#996600;
}
.lletra_concepte_106{
	font-family:Helvetica, Arial, sans-serif;
	color:#996600;
	font-size: 80%;
	font-weight: bold;
}
.concepte_107{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#993300;
}
.lletra_concepte_107{
	font-family:Helvetica, Arial, sans-serif;
	color:#993300;
	font-size: 80%;
	font-weight: bold;
}
.concepte_108{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#663300;
}
.lletra_concepte_108{
	font-family:Helvetica, Arial, sans-serif;
	color:#663300;
	font-size: 80%;
	font-weight: bold;
}
.concepte_109{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#CC3300;
}
.lletra_concepte_109{
	font-family:Helvetica, Arial, sans-serif;
	color:#CC3300;
	font-size: 80%;
	font-weight: bold;
}

.concepte_110{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#003366;
}
.lletra_concepte_110{
	font-family:Helvetica, Arial, sans-serif;
	color:#003366;
	font-size: 80%;
	font-weight: bold;
}
.concepte_111{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FF9933;
}
.lletra_concepte_111{
	font-family:Helvetica, Arial, sans-serif;
	color:#FF9933;
	font-size: 80%;
	font-weight: bold;
}
.concepte_112{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#006633;
}
.lletra_concepte_112{
	font-family:Helvetica, Arial, sans-serif;
	color:#006633;
	font-size: 80%;
	font-weight: bold;
}
.concepte_113{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#669900;
}
.lletra_concepte_113{
	font-family:Helvetica, Arial, sans-serif;
	color:#669900;
	font-size: 80%;
	font-weight: bold;
}
.concepte_114{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#99CC99;
}

.lletra_concepte_142{
	font-family:Helvetica, Arial, sans-serif;
	color:#960;
	font-size: 80%;
	font-weight: bold;
}
.concepte_142{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#960;
}

.lletra_concepte_143{
	font-family:Helvetica, Arial, sans-serif;
	color:#036;
	font-size: 80%;
	font-weight: bold;
}
.concepte_143{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#036;
}

.lletra_concepte_114{
	font-family:Helvetica, Arial, sans-serif;
	color:#99CC99;
	font-size: 80%;
	font-weight: bold;
}
.concepte_115{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#33CC66;
}
.lletra_concepte_115{
	font-family:Helvetica, Arial, sans-serif;
	color:#009933;
	font-size: 80%;
	font-weight: bold;
}
.concepte_116{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#669966;
}
.lletra_concepte_116{
	font-family:Helvetica, Arial, sans-serif;
	color:#669966;
	font-size: 80%;
	font-weight: bold;
}
.concepte_117{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#336666;
}
.lletra_concepte_117{
	font-family:Helvetica, Arial, sans-serif;
	color:#336666;
	font-size: 80%;
	font-weight: bold;
}
.concepte_120{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#999999;
}
.lletra_concepte_120{
	font-family:Helvetica, Arial, sans-serif;
	color:#999999;
	font-size: 80%;
	font-weight: bold;
}
.concepte_121{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#CCCC00;
}
.lletra_concepte_121{
	font-family:Helvetica, Arial, sans-serif;
	color:#CCCC00;
	font-size: 80%;
	font-weight: bold;
}

.concepte_122{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FF99CC;
}
.lletra_concepte_122{
	font-family:Helvetica, Arial, sans-serif;
	color:#FF99CC;
	font-size: 80%;
	font-weight: bold;
}

.concepte_124{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#00CC33;
}
.lletra_concepte_124{
	font-family:Helvetica, Arial, sans-serif;
	color:#00CC33;
	font-size: 80%;
	font-weight: bold;
}

.concepte_125{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#006633;
}
.lletra_concepte_125{
	font-family:Helvetica, Arial, sans-serif;
	color:#006633;
	font-size: 80%;
	font-weight: bold;
}

.concepte_20{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#005329;
}
.lletra_concepte_20{
	font-family:Helvetica, Arial, sans-serif;
	color:#005329;
	font-size: 80%;
	font-weight: bold;
}

.concepte_127{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#666699;
}
.lletra_concepte_127{
	font-family:Helvetica, Arial, sans-serif;
	color:#666699;
	font-size: 80%;
	font-weight: bold;
}

.concepte_126{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FFCC00;
}
.lletra_concepte_126{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFCC00;
	font-size: 80%;
	font-weight: bold;
}

.concepte_128{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#660033;
}
.lletra_concepte_128{
	font-family:Helvetica, Arial, sans-serif;
	color:#660033;
	font-size: 80%;
	font-weight: bold;
}
.concepte_131{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#0066CC;
}
.lletra_concepte_131{
	font-family:Helvetica, Arial, sans-serif;
	color:#0066CC;
	font-size: 80%;
	font-weight: bold;
}
.concepte_132{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#000000;
}
.lletra_concepte_132{
	font-family:Helvetica, Arial, sans-serif;
	color:#000000;
	font-size: 80%;
	font-weight: bold;
}
.concepte_133{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#000000;
}
.concepte_144{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#669900;
}


.lletra_concepte_133{
	font-family:Helvetica, Arial, sans-serif;
	color:#000000;
	font-size: 80%;
	font-weight: bold;
}
.concepte_134{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#FFCC99;
}
.lletra_concepte_134{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFCC99;
	font-size: 80%;
	font-weight: bold;
}






.t_1{
	font-family:Helvetica, Arial, sans-serif;
	color:#009933;
	font-size: 80%;
}
.t_2{
	font-family:Helvetica, Arial, sans-serif;
	color:#990000;
	font-size: 80%;
}
.t_3{
	font-family:Helvetica, Arial, sans-serif;
	color:#003399;
	font-size: 80%;
}



.concepte_30{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#990099;
}
.lletra_concepte_30{
	font-family:Helvetica, Arial, sans-serif;
	color:#990099;
	font-size: 80%;
	font-weight: bold;
}
.concepte_139{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#990099;
}
.lletra_concepte_139{
	font-family:Helvetica, Arial, sans-serif;
	color:#990099;
	font-size: 80%;
	font-weight: bold;
}

.concepte_31{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#663399;
}
.lletra_concepte_31{
	font-family:Helvetica, Arial, sans-serif;
	color:#663399;
	font-size: 80%;
	font-weight: bold;
}
.concepte_33{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#660066;
}
.lletra_concepte_33{
	font-family:Helvetica, Arial, sans-serif;
	color:#660066;
	font-size: 80%;
	font-weight: bold;
}
.concepte_145{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#660066;
}
.lletra_concepte_145{
	font-family:Helvetica, Arial, sans-serif;
	color:#660066;
	font-size: 80%;
	font-weight: bold;
}
.concepte_140{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#660066;
}
.lletra_concepte_140{
	font-family:Helvetica, Arial, sans-serif;
	color:#660066;
	font-size: 80%;
	font-weight: bold;
}
.concepte_32{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#6633FF;
}
.lletra_concepte_32{
	font-family:Helvetica, Arial, sans-serif;
	color:#6633FF;
	font-size: 80%;
	font-weight: bold;
}


.concepte_146{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#6633FF;
}
.lletra_concepte_146{
	font-family:Helvetica, Arial, sans-serif;
	color:#6633FF;
	font-size: 80%;
	font-weight: bold;
}

.concepte_34{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#990099;
}
.lletra_concepte_34{
	font-family:Helvetica, Arial, sans-serif;
	color:#990099;
	font-size: 80%;
	font-weight: bold;
}
.concepte_141{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#990099;
}
.lletra_concepte_141{
	font-family:Helvetica, Arial, sans-serif;
	color:#990099;
	font-size: 80%;
	font-weight: bold;
}

.concepte_35{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#663399;
}
.lletra_concepte_35{
	font-family:Helvetica, Arial, sans-serif;
	color:#663399;
	font-size: 80%;
	font-weight: bold;
}

.concepte_138{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#996666;
}
.lletra_concepte_138{
	font-family:Helvetica, Arial, sans-serif;
	color:#996666;
	font-size: 80%;
	font-weight: bold;
}

