body{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	background-color:#EDEDED;
	background-color:#EDEDED;
	margin-top:0px;
}
.just{
	text-align:justify;
}
#cont_body{
	background-color:#FFF;
	width:1024px;
	margin:10px auto;
	padding:20px;
	border-left:#CCC 1px solid;

	background-image:url(imatges/vora_web.png);
	background-repeat:repeat-y;
	background-position:right;
	margin-top:0px;
	padding-right:30px;
	border-bottom: 1px solid #CCCCCC;
}
.capcalera_superior{
	background-color:#1D1E1C;
	margin:0px;
}
#capcalera{
	background-color:#707070;
	border:1px solid #6B6B6B;
	height:60px;
	margin:0px;
}
a.menu_dalt:link,a.menu_dalt:visited{
	padding-top:5px;
	color:#FFF;
	float:right;
	padding-right:5px;
	text-indent:10px;
}
a.menu_dalt:hover{
	color:#B0C972;
}
#menu_capcalera{
	height:52px;
	background-image:url(imatges/boto_capcalera.jpg);
	margin-bottom:20px;
}
a.boto_capcalera:link,a.boto_capcalera:visited{
	float:left;
	height:36px;
	padding-top:15px;
	padding-left:20px;
	padding-right:20px;
	font-size:17px;
	color:#E6EED2;
	text-decoration: none;
	border-right:1px solid #CCC;
	font-weight:bold;
	text-shadow: 0.05em 0.05em 0.05em #333;
	font-size:18px;
	
}
a.boto_capcalera:hover{
	color:#FFF;
	background-color:#88A43E;
}

fieldset{
	padding-left:10px;
	padding-right:10px;
	padding-top:0px;
	padding-bottom:20px;
	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:20px;
}

#menu_fixe{


	float:left;


}

a.menu_fixee:link,a.menu_fixee:visited{
	background-color:#707070;
	border:none;
	color:#FFF;
	font-weight:bold;
	margin-right:15px;
	margin-bottom:15px;
	text-decoration: underline;
	display:block;
	float:left;
}
a.menu_fixee:hover{
	color:#ACC414;
}
a.comunicat:link,a.comunicat:visited{
	color:#EAD15A;
	text-align:right;
	padding:2px;
	display:block;
	margin-right:10px;
}
a.comunicat:hover{
	color:#FFF;
}
.boto_tancar{
	background-color:#707070;
	background-image:url(imatges/capcalera/surt.gif);
	background-repeat:no-repeat;
	background-position:5px left;
	text-indent:20px;
	border:none;
	color:#FFF;
	font-weight:bold;
	margin-bottom:15px;
	text-decoration: underline;
	height:21px;
}


table,select,input{
	font-size:12px;
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
}
	
.selvacat{
	background-color:#ACC414;
	font-size:14px;
	color:#FFF;
	border-top-width: 1px;
	border-top-style:ridge;
	border-top-color: #999;
	border-bottom-width: 1px;
	border-bottom-style:solid;
	border-bottom-color: #999;
	padding-left:10px;
	width:990px;
}
#peu{
	clear:both;
	margin:0px;
	padding:0px;
}

/*----------------------------------Menu negre de dades personals ------------*/

.menu_gestio{
	margin:0;
	float:right;
}
.boto_menu_gestio{
	float:left;
		background-color: #000000;
	FONT-SIZE:12px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	height:25px;
	width:160px;
}

/*----------------------Dins*/

.col_esk{
	float:left;
	padding-left:10px;
	padding-right:10px;
	background-color:#CCC;
}

.botomenu1{
	BACKGROUND-COLOR:#57B9AD;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR:#FFF;
	width: 190px;
	margin-left:3px;
	margin-bottom:3px;
	clear:left;
	float:left;
	text-align:left;
}

.botomenu2{
	BACKGROUND-COLOR: #CCC;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #000;
	width: 190px;
	float:left;
	clear:left;
	margin-left:3px;
	margin-bottom:3px;
}
.boto_enviarsol{
	BACKGROUND-COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 13px;
	COLOR: #ACC414;
	margin-left:60px;
	margin-top:10px;
	padding:0px;
}


h1{
	font-size:18px;
	font-weight:bold;
	padding:3px;
}
.quadre_cont_sensemarge{
	border:1px solid;
	margin:0;
	padding:0px;
	background-color:#FFF;
}
.quadre_cont_ambmarge{
	padding:15px;
}
.gris_quadre{
	border:1px solid #666;
}
.verd_quadre{
	border:#ACC414 1px solid;
}
.negre_quadre{
	border:#000 1px solid;
}
.turquesa_h1{
	color:#57B9AD;
}
.taronja_h1{
	color:#EAD15A;
}

.negre_h1{
	color:#84A137;
}

.gris_h1{
	color:#000;
}
.espai_quadre{
	margin-left:15px;
	margin-right:10px;
	margin-top:0:
}

/*----------------------------------------*/


.fonsverd {
	BACKGROUND-COLOR: #ACC414;
}
.fonsBlauClar {
	BACKGROUND-COLOR: #e2e9f0;
}

.lletraNorm{
	FONT-SIZE: 12px; 
	COLOR:#000000;
	
}
.lletraNegreta{
	FONT-SIZE: 12px; 
	COLOR:#000000;
	font-weight:bold;
	
}

.lletraGrisaNegreta{
	FONT-SIZE: 12px; 
	COLOR:#666;
	font-weight:bold;	
}
.lletra80{
	FONT-SIZE: 16px; 
	COLOR:#000000;
}
.lletraPeke{
	FONT-SIZE: 10px; 
	text-align:center;
}
.lletraVerda70 {
	FONT-SIZE: 12px;
	COLOR: #ACC414;
	
	font-weight: bold;
}

.lletraGrisa{
	PADDING-LEFT: 5px; 
	FONT-SIZE: 12px;
	COLOR: #666666; 
}

.lletraSubtituls{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 12px;
	COLOR: #666666; 
}
A.MenuSuperior:visited{
	 FONT-SIZE: 12px;
	 COLOR: #000000;
	  
}
A.MenuSuperior:link{
	 FONT-SIZE: 12px; 
	 COLOR: #000000;
	  
}
A.MenuSuperior:hover {
	COLOR:#999999;
	TEXT-DECORATION: underline overline;
}
.botoVerdSenseamplada {
	FONT-SIZE: 14px;
	COLOR:#FFFFFF;
	background-color:  #ACC414; 
	font-weight: bold;

}
.lletraVerda {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	TEXT-TRANSFORM: none; 
	COLOR: #ACC414; 
	  
	TEXT-DECORATION: none
}

.punt_hori {
	height: 1px;
	border: 1px dotted #999;
}
.punt_hori_sobre {
	height: 1px;
	border-top: 1px dotted #999;
}
.punt_hori_sobre_sota {
	height: 1px;
	border-top: 1px dotted #999;
	border-bottom: 1px dotted #999;
}
.punt_vert{
	height: 1px;
	border: 1px dotted #999;
}

.lletraBlanca55 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 10px;
	color: #FFFFFF;
}
.lletraBlanca85 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 16px;
	color: #FFFFFF;
	font-weight: bold;
	text-transform: uppercase;
}

.lletraBlanca65 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.lletraBlanca75 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 14px;
	font-weight: bold;
	color: #FFFFFF;
}


.botoverd{
	BACKGROUND-COLOR: #ACC414;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width: 100%;
}
h3{
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-TRANSFORM: none;
	COLOR:#ACC414;
	margin:0;
	float:left;
	background-color:#FFF;
	padding:5px 20px 5px 10px;
	background-image:url(/laboral/imatges/esk_fons.gif);
	background-position:right top;
	background-repeat:no-repeat;
}
.sota_h3{
	background-color:#BCBCBC;
	margin:0;
	padding:0;
	widows:100%;
}
h4{
	FONT-WEIGHT: bold;
	FONT-SIZE: 15px;
	COLOR:#ACC414;
	padding:0;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #Acc414;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.botogrisverd{
	BACKGROUND-COLOR: #666666;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #ACC414;
	TEXT-DECORATION: none;
	width: 100%;
}
.botovermell{
	BACKGROUND-COLOR: #990000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;	 
	TEXT-DECORATION: none;
	width: 100%;
}
.botovermell_senseamplada{
	BACKGROUND-COLOR: #990000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 14px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
.botogranate{
	BACKGROUND-COLOR:#660033;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	 
	TEXT-DECORATION: none;
	width: 100%;
}
.boto_blau {
	background-color: #00A7DB;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width:100%;
	
}
.boto_blau_senseamplada {
	background-color: #00A7DB;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
}
.boto_morat {
	background-color: #8B74B9;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	 
	TEXT-DECORATION: none;
	width: 100%;	
	
	
}

.boto_negre {
	background-color: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width: 100%;
}
.boto_negre_calen{
	background-color: #000000;
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	padding:0px;
	width:20px;
	text-align:left;
}
.boto_menu_negre {
	background-color: #000000;
	FONT-SIZE: 12px;
	TEXT-TRANSFORM: none;
	COLOR: #FFFFFF;
	TEXT-DECORATION: none;
	width: 100%;
	height:25px;
}

.lletraError{
	color:#990000;
	FONT-SIZE: 12px;;

}

.lletraVermella{
	color:#990000;
	font-weight:bold;
	FONT-SIZE: 12px; 
}
.lletraErrorverd{
	color:#13570A;
	FONT-SIZE: 12px; 	 
}


.fonsvermell {
	background-color: #FF9999;
}
.esk{
	float:left;
}

.dreta{
	float:right;
}

.llargada_fitxatge{
	height:300px;
}
.botogris {
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 16px;
	font-weight: bold;
	color: #666666;
	width: 100%;
}
.botogris_calen{
	background-color: #FFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 11px;
	font-weight: bold;
	color: #666666;
	width:20px;;
	padding:0px;
	text-align:left;
}
.boto_menusol2{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 14px;
	font-weight: bold;
	color: #666666;
	float:left;
	padding-top:0;
	padding-bottom:0;
	padding-left:3px;
	padding-right:3px;
	margin-left:2px;
}
.boto_menusol2_pendent{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 16px;
	font-weight: bold;
	color:#900;
	float:left;
	padding-top:0;
	padding-bottom:0;
	padding-left:3px;
	padding-right:3px;
	margin-left:2px;
}

.boto_menusol2_ample{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	width:100%;
	height:40px;
	padding-top:0;
	padding-bottom:0;
	padding-left:3px;
	padding-right:3px;
	margin-left:2px;
	text-align: left;
}

.boto_menusol3{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	FONT-SIZE: 16px;
	font-weight: bold;
	color: #666666;
	float:left;
	padding:0;
	width:200px;
	margin:2px;
}
.botogris2{
	background-color: #BCBCBC;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	margin:2px;
	width:180px;
}
.botogris1 {
	background-color:#FFF;
	color:#57B9AD;
	font-size: 12px;
	font-weight: bold;
	margin:2px;
	padding-right:5px;
	padding-left:5px;
}
legend{
	color:#333;
	font-size:18px;
	padding:5px;
}
.fonsmenu2{
	background-color:#BCBCBC;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:10px;
}
.botomenu3 {
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	width: 150px;
}
.botomenu3_pendent{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color:#900;
	width: 150px;
}
.botomenu_3{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	width: 170px;
	margin-top:3px;
}
.pag_3{
	border-left:#999 1px solid;
	padding-left:10px;
}
.fonspag3{
	padding:20px;
}
.boto_material_cat{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
	width: 120px;
	height:20px;
	vertical-align: top;
}
.boto_material_mat{
	background-color: #FFFFFF;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	width: 110px;
	height:20px;
	vertical-align: top;
}

.boto_reservat {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 10px;
	color: #FFFFFF;
	background-color:#990000;
	font-weight: bold;
	width: 100%;
}
.boto_reservat_mi{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	FONT-SIZE: 10px;
	color: #FFFFFF;
	background-color:#666666;
	font-weight: bold;
	width: 100%;
}
.casella_llistat{
	FONT-SIZE: 12px;
	COLOR: #000000;
	font-weight:bold;
	
	BACKGROUND-COLOR: #E6E6E6;
	border: 0px none;
}

.espai_taula{
	border-collapse:collapse;
	
	
}
.vora_taula{
	border:#666 thin ridge;
	padding:5px;
}
.sense_espai_sota{
	margin-bottom:0;
}
.espai_llita{
	padding-bottom:5px;
}
h2{
	font-size:16px;
	color:#666;
	border-bottom:#666 solid 1px;
}
h5{
	font-size:14px;
	color:#666;
	border-bottom:#666 solid 1px;
}

.boto_calendari{
	font-size:11px;
	background-color:#FFF;
	padding:0;
	width:20px;
}
.boto_calendari_gran{
	font-size:12px;
	background-color:#FFF;
	padding:0;
	width:20px;
	font-weight:bold;
}
.boto_calendari_selec{
	font-size:12px;
	color:#FFF;
	background-color:#000000;
	padding:0;
	width:20px;
}
.boto_menu3{
	background-color:#999999;
	color:#FFFFFF;
	font-size:12px;
	width:100%;
	font-weight:bold;
}
.msn{
	background-image:url(imatges/ok.gif);
	background-repeat:no-repeat;
	color:#7EBD00;
	padding-left:85px;
	height:80px;
	font-weight:bold;
	padding-top:10px;
}
.msn_correcte{
	background-image:url(imatges/ok.gif);
	background-repeat:no-repeat;
	color:#7EBD00;
	padding-left:85px;
	height:80px;
	font-weight:bold;
	padding-top:10px;
}
.msn_incorrecte{
	background-image:url(imatges/error.gif);
	background-repeat:no-repeat;
	color:#990000;
	padding-left:85px;
	height:80px;
	font-weight:bold;
	padding-top:10px;
}
.lletra20{
	font-size:20px;
}
.sense_marge{
margin:0;
padding:0;
}
.form3{
	padding-top:0;
	padding-bottom:20px;
}
.icona_negra{
	list-style-image:url(/laboral/imatges/ico_negra.gif);
}

.icona_fletxa{
	background-image:url(imatges/fletx_anterior.jpg);
	background-position:top left;
	text-indent: 15px;
	background-repeat:no-repeat;
}


.fora_horari{
	font-family:Helvetica, Arial, sans-serif;
	color:#FFFFFF;
	background-color:#06F;
}
.lletra_fora_horari{
	font-family:Helvetica, Arial, sans-serif;
	color:#06F;
	FONT-SIZE: 16px;
	font-weight: bold;
}
.quadre_desplegables{
	background-color:#E4E4E4;
	border:#ACC414 1px dotted;
	width:100%;
	padding:5px;
	margin-bottom:10px;
	width:550px;
}
.correcte{
	font-family:Helvetica, Arial, sans-serif;
	color:#000000;
	FONT-SIZE: 16px;
	font-weight: bold;
}
.incorrecte{
	font-family:Helvetica, Arial, sans-serif;
	color:#990000;
	FONT-SIZE: 16px;
	font-weight: bold;
}
.incorrec{
	font-family:Helvetica, Arial, sans-serif;
	color:#990000;
	FONT-SIZE: 14px;
}
.fonsclarissim{
background-color:#F4F4F4;
}
.body_imprimir{
	border:0;
	padding:10px 0px 10px 10px;
	margin:0;
	background-color:#FFF;
}
h6{
	font-family:Helvetica, Arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	border-bottom:#ACC414 1px dotted;
	text-transform: uppercase;
}
.textescriptura{
	font-size:14px;
	color:#006;
	font-family:"Monotype Corsiva";
}
.notes{
	background-image:url(imatges/ico_negra.gif);
	background-position:top left;
	background-repeat:no-repeat;
	margin-bottom:5px;
	font-size:12px;
	text-indent: 20px;
}
.boto_imprimir{
	background-image:url(imatges/print.gif);
	background-position:left;
	background-repeat:no-repeat;
	text-align:right;
	width:100px;
	font-weight:bold;
	padding-right:5px;
}
.lletra_nota{
	font-size:12px;
	font-style:italic;
}

.linea_error{
	border-bottom:#F00 2px solid;
	
	padding-top:0px;
}
.bloc{
	margin-top:15px;
	background-color:#F0F0F0;
	text-transform: uppercase;
}
ul{
	margin-top:0px;
	margin-bottom:0px;
}
.descua{
	margin-left:25px;
}
.fons_error{
	background-color:#FFE1E1;
}
.boto_editar{
	background-color:#FFF;
	background-image:url(imatges/pen.gif);
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.boto_visual{
	background-color:#FFF;
	background-image:url(imatges/ull.gif);
	width:28px;
	height:23px;
	background-repeat:no-repeat;
}
.boto_save{
	background-color:#FFF;
	background-image:url(imatges/save.gif);
	width:25px;
	height:25px;
	background-repeat:no-repeat;
}
.boto_delete{
	background-color:#FFF;
	background-image:url(imatges/ico_eliminar.gif);
	width:25px;
	height:26px;
	background-repeat:no-repeat;
}



.ico_guardar{
	width:26px;
	height:26px;
	background-repeat:no-repeat;
	border-top:none;
	border-left:none;
	background-color:#FFF;
	background-image:url(imatges/ico_guardar.gif);
	width:30px; height:30px;
}
.ico_editar{
	width:26px;
	height:26px;
	background-repeat:no-repeat;
	border-top:none;
	border-left:none;
	background-color:#FFF;
	background-color:#FFF;
	background-image:url(imatges/pen.gif);
}
.ico_eliminar{
	width:26px;
	height:26px;
	background-repeat:no-repeat;
	border-top:none;
	border-left:none;
	background-color:#FFF;
	background-image:url(imatges/ico_eliminar.gif);
	width:30px; height:30px;
}
.ico_print{
	background-image:url(imatges/ico_print.gif);
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	border-top:none;
	border-left:none;
	background-color:#FFF;
}
.ico_cerca{
	background-image:url(imatges/cerca.png);
	width:20px;
	height:20px;
	background-repeat:no-repeat;
	border-top:none;
	border-left:none;
	background-color:#FFF;
}
.ico_xls{
	background-image:url(imatges/ico_xls.gif);
	width:30px;
	height:30px;
	background-repeat:no-repeat;
	border-top:none;
	border-left:none;
	background-color:#FFF;
}
a.descarrega:link,a.descarrega:visited{
	background-image:url(imatges/descarrega.gif);
	background-repeat:no-repeat;

	color:#000;
	padding-left:15px;
	padding-bottom:15px;
}
a.descarrega:hover{
	color:#666;
	text-decoration:overline;
}
.veure_no{
	display:none;
}
.veure_si{
	display:inline;
}
.estat_curs_0{
	color:#063;
}
.estat_curs_1{
	color:#F60;
}
.estat_curs_2{
	color:#06F;
}
.estat_curs_3{
	color:#F00;
}