body{
	font-family: arial,helvetica,sans-serif;
	font-size:12px;
	background-color:#EDEDED;
	margin-top:0px;
	text-align:justify;
	position:relative;
	color: #666;
	margin-bottom:0px;
	line-height:1.5em;
}
table{
	font-family: arial,helvetica,sans-serif;
	font-size:12px;
	text-align:justify;
	color: #666;
}
#cont_body{
	background-color:#FFF;
	width:1000px;
	margin:10px auto;
	background-repeat:repeat-y;
	margin-top:0px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	padding:22px 34px 35px 32px;
}
#toolbar{
	background-image:url(toolbar2.png);
	padding: 5px 5px 0px 20px;
	height:104px;
}
a.nom_ens:link,a.nom_ens:hover,a.nom_ens:visited{
	color: #f2f2f2;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	text-decoration:none;
	display:block;
	float:right;
	padding-top:75px;
}

a.logo_ens:link,a.logo_ens:hover,a.logo_ens:visited{
	display:block;
	float:right;
	border:none;
	padding:0px;
}
a.xarxes:link,a.xarxes:hover,a.xarxes:visited{
	float:right;
	display:block;
	background-color:#09F;
	clear:both;
}
h1{
	font-size: 20px;
	color: #87a938;
	margin-bottom:20px;
	margin-top:20px;
	text-indent:0px;
	text-align:left;
}
h2{
	font-size:18px;
	color:#666;	
}
h3{
	font-size: 18px;
    line-height: 18px;
	color: #87a938;
	border-bottom:1px solid #ccc;
	padding-bottom:5px;
}
#pag_col1{
	clear:both;
	float:left;
	width:720px;;
	margin-right:10px;
	padding-right:30px;
}
#pag_col2{
	float:left;
	width:230px;
	padding:0px;
	
}

#pagina_col1{
	clear:both;
	float:left;
	width:230x;;
	margin-right:10px;
	padding-right:30px;
}
#pagina_col2{
	float:left;
	width:720px;
	padding:0px;
	padding-bottom:30px;
}

a.submenu:link,a.submenu:visited{
	color: #666;
	font-weight: bold;
	font-size: 12px;
	padding-bottom:15px;
	display:block;
	border-bottom:1px solid #ccc;
	padding-top:15px;
	text-decoration:none;
	display:block;
	width:230px;
	text-align:left;
}
a.submenu:hover{
	color: #87a938;
}

#footer {
	background: url(footer.png) 0 0 repeat-x;
	padding-top:15px;
	line-height: 15px;
	font-size: 11px;
	text-align: left;
	margin-bottom: 0px;
	margin-top: 30px;
	position: relative;
	clear:both;
}
a{
	color: #87a938;
	text-decoration:none;
}
a:hover {
	color: #3d520d;
}
.on_som_sota{
	padding-bottom:15px;
}

#menu_supp{
	width:100%;
}

a.menu_sup:link,a.menu_sup:visited{
	background-image:url(menubar2.png);
	
	font-size: 15px;
	text-shadow: 0 1px rgba(0, 0, 0,0.2);
	font-weight: bold;
	padding-right:20px;
	padding-top:19px;
	padding-left:20px;
	padding-bottom:18px;
	text-decoration:none;
	
	display:block;
	border-right:1px solid #749232;
}

a.menu_sup:hover{
	background-image:url(menubar_hover.png);
	color:  #FFF;
}
.actiu{
	color:#3d520d;
	
}
.no_actiu{
	color: #000;
}
.esk{
	float:left;
}
.neteja{
	clear:both;
}


#totop-scroller {
display: block;
position: absolute;
top: 13px;
right: 0;
z-index: 1;
width: 19px;
height: 20px;
background: url(totop_scroller.png) 0 0 no-repeat;
text-decoration: none;
}
#totop-scroller:hover {
	background-position: 0 -30px;
}

a.descarrega:link{
	background-image:url(picto_download.png);
	background-repeat:no-repeat;
	color:#f77d0f;
	text-indent:20px;
	padding-left:25px;
}
a.descarrega:hover{
	color:#444;
}



.dreta{
	float:right;
}






#menu1 {  
	text-align: center;
	width: 100%;
	padding-bottom:50px;
	

}
#menu1 ul { 
	list-style-type: none; 
	 margin: 0px;
	padding: 0px; 
	outline: 0;
	
}
#menu1 ul li.nivel1 { 
	float: left;
}

#menu1 ul li a {
	display:block;
	position: relative;
}
#menu1 ul li:hover {
	position: relative;
}
#menu1 ul li:hover a.nivel1{
	background-image:url(menubar2_hover.png);
	color:  #FFF;
	
}
#menu1 ul li a.nivel1 {
	display: block!important;
	position: relative;
	background-image:url(menubar2.png);
	height:40px;
	font-size: 15px;
	/*text-shadow: 0 1px rgba(0, 0, 0,0.2);*/
	font-weight: bold;
	text-decoration:none;
	border-right:1px solid #749232;
	padding-top:14px;
	
}
#menu1 ul li ul {
	display: none;
	border:1px solid #ccc;
	background-color:#fff;
}
#menu1 ul li a:hover ul, #menu1 ul li:hover ul {
	display: block;
	position: absolute;
	left: 0px;
	text-align:left;
	text-indent:15px;
}
#menu1 ul li ul li a {
	width: 200px;
	padding: 6px 0px 8px 0px;
	color:#333;
	text-decoration:none;
	font-weight:bold;
}
#menu1 ul li ul li a:hover {
	position: relative;
	color:#ACC414;
}
table.falsa {
	border-collapse:collapse;
	border:0px;
	float: left;
	position: relative;
}