#menu1 {  
	text-align: center;
	width: 100%;
	
}
#menu1 ul { 
	list-style-type: none; 
}
#menu1 ul li.nivel1 { 
	float: left;
	width: 20%;
}

#menu1 ul li a {
	display:block;
	position: relative;
}
#menu1 ul li:hover {
	position: relative;
}
#menu1 ul li:hover a.nivel1{
	background-image:url(menubar_hover.png);
	color:  #FFF;
}
#menu1 ul li a.nivel1 {
	display: block!important;display: none;
	position: relative;
	background-image:url(menubar.png);	
	
	font-size: 15px;
	text-shadow: 0 1px rgba(0, 0, 0,0.2);
	font-weight: bold;
	padding-top:19px;
	padding-bottom:18px;
	text-decoration:none;
	border-right:1px solid #749232;
}
#menu1 ul li ul {
	display: none;
	border:1px solid #ccc;
}
#menu1 ul li a:hover ul, #menu1 ul li:hover ul {
	display: block;
	position: absolute;
	left: 0px;
	text-align:left;
}
#menu1 ul li ul li a {
	width: 200px;
	padding: 6px 0px 8px 0px;
	color:#333;
	text-decoration:none;
}
#menu1 ul li ul li a:hover {
	position: relative;
	color:#ACC414;
}
table.falsa {
	border-collapse:collapse;
	border:0px;
	float: left;
	position: relative;
}
