
.capcalera_superior{
	width:982px;
}

/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarHorizontal a:hover, ul.MenuBarHorizontal a:focus
{
	height:50px;
}

.fiel_portada{
	width:350px;
}

.fiel_menu_esk{
	width:260px;
}