body{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	background-color:#EDEDED;
	margin-top:0px;
}
/*
a:link,a:visited{
	color:#666;
}
a:hover{
	color:#ACC414;
}*/
table{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size:12px;
	text-align: left;
}
.vora_body_esk{
	background-image:url(imatges/vora_web.png);
	background-repeat:repeat-y;
	background-position:left;
}
#titol{
	color:#B0C972;
	font-weight:bold;
	font-size:28px;
	padding-top:22px;
	padding-left:20px;
	float:left;
	text-shadow: 0.1em 0.05em 0.03em #333
}
.capcalera_superior{
	background-color:#1D1E1C;
	margin:0px;
}
#capcalera{
	background-color:#707070;
	border:1px solid #6B6B6B;
	height:60px;
	margin:0px;
}
a.menu_dalt:link,a.menu_dalt:visited{
	padding-top:5px;
	color:#FFF;
	float:right;
	padding-right:5px;
	text-indent:10px;
}
a.menu_dalt:hover{
	color:#B0C972;
}
.vora_dreta{
	border-right:1px dotted #FFF;
}

#menu_capcalera{
	height:52px;
	background-image:url(../imatges/boto_capcalera.jpg);
	margin-bottom:20px;
}

a.boto_capcalera:link,a.boto_capcalera:visited{
	float:left;
	height:36px;
	padding-top:15px;
	padding-left:20px;
	padding-right:20px;
	font-size:17px;
	color:#E6EED2;
	text-decoration: none;
	border-right:1px solid #CCC;
	font-weight:bold;
	text-shadow: 0.05em 0.05em 0.05em #333;
	font-size:18px;
	
}
a.boto_capcalera:hover{
	color:#FFF;
	background-color:#88A43E;
}
.esk{
	float:left;
}
.neteja{
	clear:both;
}

.quadre{
	border:1px dotted #CCC;
	padding:5px;
	margin-right:10px;
	margin-top:10px;
	width:350px;
}
.titol_quadre{
	font-size:16px;
	font-weight:bold;
	color:#5E8424;
}
.titol_act{
	font-size:13px;
	font-weight:bold;
	color:#87a938;
}	
.linea{
	padding:0px;
	margin:0px;	
}
fieldset{
	padding-left:10px;
	padding-right:10px;
	padding-top:0px;
	padding-bottom:20px;
	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
legend{
	color:#000;
	font-size:16px;
	font-weight:bold;
	color:#666;
}

.mes_calendari_associacio{
	float:left;
	margin-right:2px;
	margin-top:10px;
	height:95px;
	
	background-color:#CCC;
}
.casella_associacio{
	margin:0px;
	float:left;
	width:12px;
	height:11px;
	text-align:center;
	font-size:9px;
	border:#036 1px solid;
	background-color:#FFF;
}
.data_associacio{
	font-weight:bold;
	background-color:#036;
	color:#FFF;
	text-align:center;
}
.buida{
	border:#CCC 1px solid;
	background-color:#CCC;
}

.fiel_portada{
	margin-top:10px;
	float:left;
	width:330px;
	margin-right:10px;
}
.data{
	margin-right:5px;
	text-indent:5px;
	color:#f77d0f;
	font-weight:bold;/*	background-color:#C6E6F4;
	border:1px solid #74C2E6;*/
}
.casella{
	margin:2px;
	float:left;
	width:16px;
	height:16px;
	text-align:center;
}
.lletra_blanca{
	color:#FFF;
}
.mes_calendari{
	float:left;
	background-color:#E2E2E2;
	margin-right:10px;
	height:137px;
	padding-left:9px;
	padding-right:9px;
	margin-top:10px;
}
a.activitats_0:link,a.activitats_0:visited{
	text-decoration:none;
	text-transform:none;
	color:#000;
	display:block;
	padding:5px;
	
	margin-top:10px;
	border:#EFEFEF 1px dotted;
	
}
a.activitats_0:hover{
	background-color:#EAEAEA;
	border:#666 1px dotted;
}

a.activitats_1:link,a.activitats_1:visited{
	text-decoration:none;
	text-transform:none;
	color:#000;
	display:block;
	padding:5px;
	width:330px;
	height:60px;
	margin-top:10px;
	border:#EFEFEF 1px dotted;
	float:left;
}
a.activitats_1:hover{
	background-color:#EAEAEA;
	border:#666 1px dotted;
}


#menu_fixe{
	background-color:#707070; 
	padding:10px;
	clear:both;
	margin-bottom:10px;
	float:left;
	display:block;
	margin-top:30px;
	width:1000px;
}
a.link_menu_fixe:link,a.link_menu_fixe:visited{
	color:#FFF;
	border-right:1px dotted #FFF;
	padding:10px;
	font-size:14px;
	float:left;
}
a.link_menu_fixe:hover{
	color:#ACC414;
}
.espai_esk{
	margin-left:10px;
	margin-right:3px;
}
#peu{
	clear:both;
	margin:0px;
	padding:0px;
}


h1{
	color:#666;
	font-size:18px;
	font-weight:bold;
	margin-top:20px;
	
}
h2{
	color:#ACC414;
	font-size:16px;
	margin-bottom:20px;
	border-bottom:#333 1px solid;
	clear:both;
	padding-top:15px;
}
th{
	background-color:#666;
	color:#FFF;
	font-weight:bold;
}
.camiseta{ 
	background-image:url(../imatges/tshirt.gif);
	background-repeat:no-repeat;
	float:left;
	margin-right:15px;
	height:30px;
	padding-top:10px;
}
.camiseta_num{
	float:left;
	color:#666;
	font-family:"Courier New", Courier, monospace;
	width:33px;
	text-align:center;
}
.camiseta_nom{
	float:left;
	height:30px;
}

.taula{
	margin-top:0px;
	border:#000 solid 1px;
	border-collapse:collapse;
	border-spacing:5px;
	
}
a.grup2:link,a.grup2:visited{
	color:#000;
	text-decoration:none;	
	background-color:#EAEAEA;
	
	padding-left:10px;
	float:left;
	width:220px;
	margin:20px;
	padding-left:15px;
	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom:10px;
}

a.grup2:hover{
	background-color: #ACC414;
	color:#FFF;
}
.punts{
	border-top:1px dotted #666;
}
.blanc{
	background-color:#FFF;
}
.dreta{
	float:right;
}

/*----------------------Pàgina plantilla*/
#menu_esquerra{
	float:right;
	/*border-left-width: 1px;
	border-left-style:dashed;
	border-left-color: #3F7847;*/
	background-color:#FFF;
	margin-left:15px;
	padding:8px;
}
#menu_dreta{
	float:left;
	width:700px;
}
.fiel_menu_esk{
	float:right;
	width:240px;
	clear:both;
	margin-bottom:20px;
	background-color:#EFEFEF;
}

a.anterior:link,a.anterior:visited{
	color:#87a938;
	font-size:14px;
	padding-right:10px;
	background-image:url(../imatges/anterior.gif);
	background-repeat:no-repeat;
	background-position:right;
	
	text-decoration:none;
	margin-left:5px;
}
.ante_titol{
	margin-left:5px;
	font-size:14px;
}
a.anterior:hover{
	color:#000;
}

/*---------------------------------------------------------Activitats*/
.items_activitats{
	float:left;
	margin-left:13px;
	margin-bottom:20px;
	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:7px;
	width:202px;
	height:45px;
}
.titol_items_activitats{
	color:#f77d0f;
	font-size:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight:bold;
}
.espai_items_activits{
	margin-right:5px;
	float:left;
}
.falten_dies{
	color:#900;
	background-color:#CCC;
	font-size:10px;
	float:left;
	width:38px;
	height:40px;
	padding:2px;
	margin-right:5px;
	font-weight:bold;
}
a.act_item:link,a.act_item:visited{
	color:#000;
	text-decoration:none;
	font-weight:bold;
}
a.act_item:hover{
	text-decoration:underline;
}
.lletraGrisa{
	color:#999;
	font-weight:bold;
}

a.inscripcio:link,a.inscripcio:visited{
	background-image:url(../imatges/inscripcio.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	padding-top:30px;
	padding-left:75px;
	color:#333;
	text-decoration:none;
	margin-top:15px;
	font-size:15px;
	font-weight:bold;
	float:left;
	margin-right:15px;
	margin-left:0px;
	width:400px;
	height:50px;
}
a.inscripcio:hover{
	color:#900;
}
/*------------------------------------------------Instalacions*/
.nom_instal{
	width:360px;
	float:left;
	background-position:80px;
	padding-right:10px;
}
.nom_muni{
	width:160px;
	float:left;
	background-position:70px;
	padding-right:10px;
}
.nom_municipi{
	color:#666;
	font-weight:bold;
}
.nom_tipus{
	width:130px;
	float:left;
	background-position:45px;
}
a.instal:link,a.instal:visited{
	display:block;
	float:left;
	padding-right:10px;
	padding-bottom:10px;
	text-decoration:none;
	color:#000;
}
a.instal:hover{
	text-decoration:underline;
	color:#ACC414;
}
a.ordena_camp:link,a.ordena_camp:visited{
	background-image:url(../imatges/ordena.gif);
	background-repeat:no-repeat;	
	font-weight:bold;
	font-size:14px;
	display:block;
	color:#666;
	text-decoration:none;
	height:25px;
}a.ordena_camp:hover{
	color:#000;
}




a.instala:link,a.instala:visited{
	padding:10px;
	border:#ACC414 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display:block;
	width:190px;
	text-decoration:none;
	color:#666;
	float:left;
	margin:10px;
	background-color:#FFF;
	text-decoration:none;
	font-weight:bold;
	height:200px;
}
a.instala:hover{
	background-color:#E4E4E4;
	color:#ACC414;
} 


/*------------------------------------------Parcs urbans de salut*/
a.parcs:link,a.parcs:visited{
	display:block;
	float:left;
	text-decoration:none;
	margin-bottom:10px;
	color:#ACC414;
	margin-right:10px;
	cursor:pointer;
	border-right:#666 1px solid;
	border-bottom:#666 1px solid;
}
a.parcs:hover{
	background-color:#F2FFF2;
	border-right:#ACC414 1px solid;
	border-bottom:#ACC414 1px solid;
	
}
.leg_parcs{
	color:#6666;
	font-size:12px;
	margin-bottom:10px;
	padding:0px;
}
.fiel_parcs{
	border:#ACC414 1px solid;
	float:left;
	margin-right:10px;
	padding:0px;
	padding-left:7px;
	margin-bottom:10px;
	padding-bottom:5px;
}
a.enllac_web:link,a.enllac_web:visited{
	display:block;
	clear:both;
	padding-top:20px;
	color:#000;
	text-decoration:none;
}
a.enllac_web:hover{
	text-decoration:underline;	
}
.nom_mes_parc{
	font-weight:bold;
	text-indent:5px;
}
.nom_arxiu{
	color:#333;
	font-style: italic;
}
/*--------------------------------------entitats*/

a.llistat_entitats:link,a.llistat_entitats:visited{
	color:#000;
	text-decoration:none;
	float:left;
	clear:both;
	display:block;
	cursor:pointer;
	margin-bottom:10px;
}
a.llistat_entitats:hover{
	text-decoration:underline;
	color:#3DB7AE;
}
.entitat_logo{
	width:30px;
	float:left;
}	
.entitat_nom{
	width:250px;
	float:left;
}
.entitat_muni{
	width:150px;
	float:left;
}
.entitat_esports{
	width:250px;
	float:left;
}
#validar table{
	border:#ACC414 1px solid;
	background-color:#EAEAEA;
	margin-bottom:10px;
	margin-left:200px;
}
#validar label{
	color:#666;
	font-size:12px;
	font-weight:bold;
}
#validar input{
	background-color:#ACC414;
	color:#E40518;
	font-weight:bold;
}

#recordar{
	font-weight:200px;
	background-color:#FFF;
	color:#E40518;
	font-weight:bold;
	font-size:12px;
	margin-top:20px;
	/*border:0px;*/
	background-color:#EAEAEA;
}
.boto_cercar{
	background-color:#FFF;
	font-size:13px;
	font-weight:bold;
	color:#3F7847;
}


/*---------------------------------------------municipis*/

.leg_muni{
	color:#000;
	font-size:12px;
	margin-bottom:10px;
	padding:0px;

	padding-left:5px;
}
.fiel_muni{
	border:#ACC414 1px solid;
	width:195px;
	
	float:left;
	margin-right:7px;
	margin-bottom:10px;
	padding:0px;
	padding-left:10px;
}
a.boto_capes:link,a.boto_capes:visited{
	width:15px;
	height:15px;
	float:left;
	background-color:#666;
	color:#FFF;
	margin:2px;
	text-align:center;
	text-decoration:none;
}

a.boto_capes:hover{
	background-color:#ACC414;
	color:#000;
}

.boto_capes_seleccionat{
	width:15px;
	height:15px;
	float:left;
	background-color:#ACC414;
	color:#000;
	margin:2px;
	text-align:center;
	text-decoration:none;
}

.visual_no{ display:none;}
.visual_si{ display:block;}
.posicio_boto_capes{
	clear:both;
	float:right;
	margin-top:30px;
}

.camp{
	float:left;
	clear:both;
	width:100px;
	color:#333;
	margin-bottom:10px;
}
a.links_arxius:link,a.links_arxius:visited{
	color:#000;
	margin-right:30px;	
}
a.links_arxius:hover{
	color:#ACC414;
}
.extensio_xls{
	background-image:url(../imatges/extensio_xls.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}
.extensio_doc{
	background-image:url(../imatges/extensio_doc.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}
.extensio_pdf{
	background-image:url(../imatges/extensio_pdf.gif);
	background-repeat:no-repeat;
	padding-left:20px;
}

/*--------------------------------------------------------Banners*/
a.banners:link,a.banners:visited{
	background-repeat:no-repeat; width:260px; height:115px; 
	float:left; 
	clear:both;
	display:block;
	text-decoration:none;
	margin-bottom:15px;
	border-right:1px solid #DBDBDB;
	border-bottom:1px solid #DBDBDB;
}
a.banners:hover{
	border-right:1px solid #666;
	border-bottom:1px solid #666;
}

.banner_lliga{
	margin-left:80px;
	font-weight:bold;
	font-size:18px;
	margin-bottom:5px;
	text-align:center;
	margin-top:5px;
	text-shadow: 0.05em 0.05em 0.05em #666;
	color:#ACC414;
	float:left;
	clear:both;
}


.banner_cats{
	margin-left:90px;
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
	color:#FFF;
	float:left;
	clear:both;
	display:block;

	width:160px;
	/*text-shadow: 0.1em 0.1em 0.05em #666;*/
}

.b_gran{
	margin-left:250px;
}
a.banners_gran:link,a.banners_gran:visited{
	background-repeat:no-repeat; width:700px; height:120px; 
	
	display:block;
	text-decoration:none;
	margin-bottom:15px;
	border-right:2px solid #FFF;
	border-bottom:2px solid #FFF;
	padding-top:10px;
}
a.banners_gran:hover{
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

.banner_cats_gran_etiqueta{
	margin-right:10px;
	padding-bottom:10px;
	float:left;
	color:#EAFFEA;
}

.banners_data{
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
	color:#CCC;
	margin-right:10px;
	clear:both;
	float:right;
}

.picto_xarxes{
	float:left;
	margin-right:13px;
	margin-left:0px;
}



.boto_verd{
	background-color:#ACC414;
	font-size:14px;
	font-weight:bold;
}

.lletra_vermella{
	color:#900;
	font-weight:bold;
}
.fila_selec{
	background-color:#FFC;
}
a.print:link,a.print:visited{
	background-image:url(../imatges/imprimir.png);
	background-repeat:no-repeat;
	background-repeat:no-repeat;
	border:#666 1px dotted;
	background-color:#CCC;
	width:60px;
	height:12px;
	padding:5px;
	float:right;
	text-indent:22px;
	color:#FFF;
	font-size:11px;
	text-decoration:none;
	margin-top:20px;
}
a.print:hover{
	background-color:#999;
}


a.instal_enllac:link,a.instal_enllac:visited{
	margin-bottom:5px;
	display:block;
	color:#000;
	margin-right:10px;
}
a.instal_enllac:hover{
	color:#ACC414;
}
.boto_guardar{
	background-color: #87a938;
	padding: 10px;
	margin-top: 10px;
	color: #FFF;
	width: 150px;
}
.fiel_paga{
	float: left;
	width: 45%;
	height: 150px;
	margin:5px;
	padding:10px;

	border:#999 1px solid;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.legend_paga{
	color:#000;
	font-size:16px;
	font-weight:bold;
}
.boto_pagament{
	background-color:#ACC414;
	font-size:16px;
	font-weight:bold;
	padding: 10px;
}
.lletra_verd{
	color:#ACC414;
	font-size:14px;
	font-weight:bold;
}
td{
	text-align: left;
}
th{
	text-align: left;
}