<style type="text/css">

.hores_mes{
	FONT-SIZE: 70%; 
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
	color:#00CC33;
}
.minuts_mes{
	color:#336600;
	FONT-SIZE: 70%; 
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
}
.hores_menys{
	color:#FF0000;
	FONT-SIZE: 70%; 
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
}
.minuts_menys{
	color:#510000;
	FONT-SIZE: 70%; 
	FONT-FAMILY: Helvetica, Verdana, Arial, sans-serif;
}
</style>